.d7:after {content:""; clear:both; display:table}

.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 3px solid #EDDEA4;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
  left: 4rem;
  top: 1rem;
}
.d7 input:focus {
  width: 300px;
}

.underline {
  border-bottom: 3px solid currentColor;
  display: inline-block;
  line-height: 1;
}

.content {
    text-align: center;
    width: 100%;
    height: 30px;
    background: #E6E0F8;
    color: #0B6121;
    font-size: 150%;
    }

.menu {
    width: 100%;
    height: 30px;
    background: #F5BCA9;
    color: #7401DF;
    text-align: center;
    margin-top: 130px;
    font-size: 150%;
    }

* {
    margin: 0;
    padding: 0;
}

#block-body {
    width: 98%;
    margin: 15px auto;
    height: auto;
}

header {
   width: 100%;
   height: 80px;
   background-image: linear-gradient(to right, #0A797B 0%, #0FA3B1 51%, #10EAEE 100%);
}

#block-content {
    width: 1035px;
    height: auto;
    min-height: 500px;
}

.logo {
    width: 250px;
    float: left;
    height: 80px;
}

.logo a {
    display: block;
    margin-left: 60px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}

.ru {
    color: #EDE7E3;
}
.use {
    color: #EDDEA4;
}

.web {
    color: #F7A072;
}

.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}

.top-menu {
    width: 100%;
    height: 80px;
    float: center;
}

.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}

.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: #EDDEA4;
}

.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}

.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
}

.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}

table {
width: 900px;
height: 700px;
margin-top: 80px;
margin-left: 24.5%;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: center;
border-collapse: collapse;
border-spacing: 5px;
background: white;
border-radius: 20px;
}

th {
font-size: 22px;
font-weight: 300;
padding: 12px 10px;
border-bottom: 3px solid #EDDEA4;
color: #473f3a;
padding-left: 15px;
border-radius: 42px;
background: white;
outline: none;
transition: .3s linear;
font-size: 110%;
}
tbody tr:nth-child(2) {
border-bottom: 3px solid #EDDEA4;
}

td {
padding: 10px;
color: #473f3a;
}
