.d7:after {content:""; clear:both; display:table}

.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 3px solid #EDDEA4;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
  left: 4rem;
  top: 1rem;
}
.d7 input:focus {
  width: 300px;
}

.underline {
  border-bottom: 3px solid currentColor;
  display: inline-block;
  line-height: 1;
}

.content {
    text-align: center;
    width: 100%;
    height: 30px;
    background: #E6E0F8;
    color: #0B6121;
    font-size: 150%;
    }

.menu {
    width: 100%;
    height: 30px;
    background: #F5BCA9;
    color: #7401DF;
    text-align: center;
    margin-top: 130px;
    font-size: 150%;
    }

* {
    margin: 0;
    padding: 0;
}

#block-body {
    width: 98%;
    margin: 15px auto;
    height: auto;
}

header {
   width: 100%;
   height: 80px;
   background-image: linear-gradient(to right, #0A797B 0%, #0FA3B1 51%, #10EAEE 100%);
}

#block-content {
    width: 1035px;
    height: auto;
    min-height: 500px;
}

.logo {
    width: 250px;
    float: left;
    height: 80px;
}

.logo a {
    display: block;
    margin-left: 60px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}

.ru {
    color: #EDE7E3;
}
.use {
    color: #EDDEA4;
}

.web {
    color: #F7A072;
}

.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}

.top-menu {
    width: 100%;
    height: 80px;
    float: center;
}

.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}

.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: #EDDEA4;
}

.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}

.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
}

.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}


.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-left: 40px;
  margin-top: 150px;
}

.unit {
  fill: none;
  stroke-width: 10;
}

.unit:nth-child(1) {
  stroke: #a2c6e0;
}

.unit:nth-child(2) {
  stroke: #ffcadc;
}



.unit:nth-child(1) {
  stroke: #a2c6e0;
  stroke-dasharray: 80 100;
}

.unit:nth-child(2) {
  stroke: #ffcadc;
  stroke-dasharray: 20 100;
  stroke-dashoffset: -80;
}



.legend {
  max-width: 400px;
  margin-right: 60px;
}

.title {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #473f3a;
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  position: relative;

  margin: 20px 0;
  padding-left: 30px;

  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #473f3a;
}

.caption-item:hover {
  opacity: 0.8;
}

.caption-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 8px;
}

.caption-item:nth-child(1)::before {
  background-color: #a2c6e0;
}

.caption-item:nth-child(2)::before {
  background-color: #ffcadc;
}


.canvas1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-left: 1000px;
  margin-top: -490px;
}

.unit1 {
  fill: none;
  stroke-width: 10;
}

.unit1:nth-child(1) {
  stroke: #a2c6e0;
}

.unit1:nth-child(2) {
  stroke: #f4d6cb;
}

.unit1:nth-child(3) {
  stroke: #b2efb6;
}

.unit1:nth-child(4) {
  stroke: #9ba9eb;
}


.unit1:nth-child(1) {
  stroke: #f3f6d1;
  stroke-dasharray: 25 100;
}

.unit1:nth-child(2) {
  stroke: #f4d6cb;
  stroke-dasharray: 25 100;
  stroke-dashoffset: -25;
}

.unit1:nth-child(3) {
  stroke: #b2efb6;
  stroke-dasharray: 25 100;
  stroke-dashoffset: -50;
}

.unit1:nth-child(4) {
  stroke: #9ba9eb;
  stroke-dasharray: 25 100;
  stroke-dashoffset: -75;
}


.legend1 {
  max-width: 400px;
  margin-right: 60px;
}

.title1 {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #473f3a;
}

.caption-list1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item1 {
  position: relative;

  margin: 20px 0;
  padding-left: 30px;

  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #473f3a;
}

.caption-item1:hover {
  opacity: 0.8;
}

.caption-item1::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 8px;
}

.caption-item1:nth-child(1)::before {
  background-color: #f3f6d1;
}

.caption-item1:nth-child(2)::before {
  background-color: #f4d6cb;
}

.caption-item1:nth-child(3)::before {
  background-color: #b2efb6;
}

.caption-item1:nth-child(4)::before {
  background-color: #9ba9eb;
}
